dev/_template.html
<!DOCTYPE html>
<html class="no-js" lang="uk">
  <body>
      <!-- Loader-->
      <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
      <!-- Loader end-->
    <div class="page-wrapper l-theme" id="main-content">
      <div class="page-inner">
      </div>
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="footer-main">
                  <div class="footer-logo"><span class="footer-logo__item"><a class="footer-logo__link" href="#"><img class="ic img-fluid" src="assets/media/general/logo-region.png" alt="Герб"></a></span></div>
                  <div class="footer__title">Інформаційна мапа</div>
                  <div class="footer__subtitle">Місто Покровськ</div><a class="footer__btn btn" href="#">Зворотній зв'язок</a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="footer-section">
                  <div class="footer-section__title">Меню</div>
                  <ul class="footer-list list-unstyled">
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Версія для мобільних пристроїв</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Про проект</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">FAQ</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Корисні посилання</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="row align-items-center">
                <div class="col-md-4">
                  <div class="footer-devel"><a class="footer-devel__img" href="#"><img src="assets/media/general/logo-bisoft.png" alt="«БІС-СОФТ»"></a>
                    <div class="footer-devel__text">Компанія «БІС-СОФТ»<br>Всі права захищені.</div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="footer-copyright"><svg class="ic" width="30" height="30"><use xlink:href="../svg-symbols.svg#creative-commons"></use></svg>
                    <div class="footer-copyright__info">Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня</div>
                  </div>
                </div>
                <div class="col-md-auto">
                    <ul class="soc-link list-inline">
                      <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-facebook-square"></i></a></li>
                      <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-twitter"></i></a></li>
                    </ul>
                    <!-- end .b-soc-link-->
                </div>
              </div>
            </div>
          </div>
        </footer>
    </div>
    <!-- Modal government-->
      <div class="modal fade" id="modalGov" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modalGov" role="document">
          <div class="wrap">
            <ul class="wrap-link">
              <li><a href="https://www.president.gov.ua/" target="_blank">Президент України</a></li>
              <li><a href="https://rada.gov.ua/" target="_blank"> Верховна Рада України</a></li>
            </ul>
            <ul class="wrap-link">
              <li><a href="http://www.ccu.gov.ua/" target="_blank">Конституційний суд України</a></li>
              <li><a href="http://www.rnbo.gov.ua/" target="_blank">Рада національної безпеки і оборони України</a></li>
            </ul>
            <ul class="wrap-link">
              <li><a href="index.html" target="_blank">Центральні та місцеві органи виконавчої влади</a></li>
            </ul>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <!-- end .b-modal-gov-->
    <!-- Modal test-->
      <div class="modal fade" id="modalTest" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="b-modal-test modal-content">
            <div class="b-modal-test__title">Завершуємо налаштування</div>
            <div class="b-modal-test__info">Ми хочемо зробити дуже зручний веб сервіс для Вас і всіх мешканців нашого міста, зовсім скоро Ви зможемо скористатися всіма його функціями.</div>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <!-- end .b-modal-test-->
      
    <script src="/assets/js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Select customization-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <!-- Pop-up window-->
    <script src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Accessibility-->
    <script src="assets/plugins/accessibility/accessibility.min.js"></script>
    <!-- Scale images-->
    <script src="assets/plugins/ofi.min.js"></script>
    <!-- Slider-->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- User customization-->
    <script src="assets/js/custom.js"></script>
  </body>
</html>

markup/pages/_template.pug
doctype html
html(class="no-js", lang="uk")

  include ../components/loader/loader
  include ../components/head/head
  include ../components/header/header
  include ../components/footer/footer
  include ../components/b-modal-gov/b-modal-gov
  include ../components/b-modal-test/b-modal-test

  block head

  body

    block loader
      +loader()



    .page-wrapper.l-theme#main-content

      .page-inner

        block header

        block content

      +footer()

    // Modal government
    +b-modal-gov()


    // Modal test
    +b-modal-test()


    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();



    // ++++++++++++
    // MAIN SCRIPTS
    // ++++++++++++

    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-migrate-1.4.1.min.js")

    // Bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")


    // Select customization
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js")

    // Pop-up window
    script(src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js")

    // Accessibility
    script(src="assets/plugins/accessibility/accessibility.min.js")

    // Scale images
    script(src="assets/plugins/ofi.min.js")

    // Slider
    script(src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')


    block scripts

    // User customization
    script(src='assets/js/custom.js')
